PizzaAPI/PizzaAPI.client/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PizzaStore.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PizzaStore.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="tns:CustomerAddress" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="tns:Email" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="tns:Name" />
      <xs:element minOccurs="0" name="NameId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="tns:PhoneNumber" />
      <xs:element minOccurs="0" name="PhoneNumberID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PizzaOrders" nillable="true" type="tns:ArrayOfPizzaOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="Email1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
  <xs:complexType name="PhoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="PhoneNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneNumber" nillable="true" type="tns:PhoneNumber" />
  <xs:complexType name="ArrayOfPizzaOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PizzaOrder" nillable="true" type="tns:PizzaOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizzaOrder" nillable="true" type="tns:ArrayOfPizzaOrder" />
  <xs:complexType name="PizzaOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="PizzaOrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PizzaOrder" nillable="true" type="tns:PizzaOrder" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Pizza" nillable="true" type="tns:Pizza" />
      <xs:element minOccurs="0" name="PizzaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PizzaOrder" nillable="true" type="tns:PizzaOrder" />
      <xs:element minOccurs="0" name="PizzaOrderID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="Pizza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Crust" nillable="true" type="tns:Crust" />
      <xs:element minOccurs="0" name="CrustID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="PizzaCheeses" nillable="true" type="tns:ArrayOfPizzaChees" />
      <xs:element minOccurs="0" name="PizzaID" type="xs:int" />
      <xs:element minOccurs="0" name="PizzaToppings" nillable="true" type="tns:ArrayOfPizzaTopping" />
      <xs:element minOccurs="0" name="Sauce" nillable="true" type="tns:Sauce" />
      <xs:element minOccurs="0" name="SauceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="tns:Size" />
      <xs:element minOccurs="0" name="SizeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pizza" nillable="true" type="tns:Pizza" />
  <xs:complexType name="Crust">
    <xs:sequence>
      <xs:element minOccurs="0" name="CrustID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Crust" nillable="true" type="tns:Crust" />
  <xs:complexType name="ArrayOfPizza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pizza" nillable="true" type="tns:Pizza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizza" nillable="true" type="tns:ArrayOfPizza" />
  <xs:complexType name="ArrayOfPizzaChees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PizzaChees" nillable="true" type="tns:PizzaChees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizzaChees" nillable="true" type="tns:ArrayOfPizzaChees" />
  <xs:complexType name="PizzaChees">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cheese" nillable="true" type="tns:Cheese" />
      <xs:element minOccurs="0" name="CheeseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pizza" nillable="true" type="tns:Pizza" />
      <xs:element minOccurs="0" name="PizzaCheeses" type="xs:int" />
      <xs:element minOccurs="0" name="PizzaID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PizzaChees" nillable="true" type="tns:PizzaChees" />
  <xs:complexType name="Cheese">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheeseID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PizzaCheeses" nillable="true" type="tns:ArrayOfPizzaChees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cheese" nillable="true" type="tns:Cheese" />
  <xs:complexType name="ArrayOfPizzaTopping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PizzaTopping" nillable="true" type="tns:PizzaTopping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPizzaTopping" nillable="true" type="tns:ArrayOfPizzaTopping" />
  <xs:complexType name="PizzaTopping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pizza" nillable="true" type="tns:Pizza" />
      <xs:element minOccurs="0" name="PizzaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PizzatoppingsID" type="xs:int" />
      <xs:element minOccurs="0" name="Topping" nillable="true" type="tns:Topping" />
      <xs:element minOccurs="0" name="ToppingID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PizzaTopping" nillable="true" type="tns:PizzaTopping" />
  <xs:complexType name="Topping">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PizzaToppings" nillable="true" type="tns:ArrayOfPizzaTopping" />
      <xs:element minOccurs="0" name="ToppingID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Topping" nillable="true" type="tns:Topping" />
  <xs:complexType name="Sauce">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizza" />
      <xs:element minOccurs="0" name="SauceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sauce" nillable="true" type="tns:Sauce" />
  <xs:complexType name="Size">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pizzas" nillable="true" type="tns:ArrayOfPizza" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SizeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
  <xs:complexType name="ArrayOfCheese">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cheese" nillable="true" type="tns:Cheese" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheese" nillable="true" type="tns:ArrayOfCheese" />
  <xs:complexType name="ArrayOfTopping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Topping" nillable="true" type="tns:Topping" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTopping" nillable="true" type="tns:ArrayOfTopping" />
</xs:schema>