PizzaStoreAPI/Business/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PizzaStore/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" />
  <xs:import schemaLocation="http://localhost/PizzaStore/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PizzaStore.DataAccess" />
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="c" nillable="true" type="q1:CustomerDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="o" nillable="true" type="q2:PizzaOrderDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPizzaOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToppings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToppingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="GetToppingsResult" nillable="true" type="q3:ArrayOfToppingDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheesesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="GetCheesesResult" nillable="true" type="q4:ArrayOfCheeseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrusts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrustsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="GetCrustsResult" nillable="true" type="q5:ArrayOfCrustDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSauces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaucesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="GetSaucesResult" nillable="true" type="q6:ArrayOfSauceDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PizzaStore.Client.Models" minOccurs="0" name="GetSizesResult" nillable="true" type="q7:ArrayOfSizesDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PizzaStore.DataAccess" minOccurs="0" name="GetCustomersResult" nillable="true" type="q8:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>